.layout-icon {
	width:100px;
	margin:0px 10px 10px 0px;
}
#nodequeue-containers-form-edit div.form-type-radio, #nodequeue-containers-form-layout div.form-type-radio {
	width:110px;
	display:inline-block;
	vertical-align:top;
}