/** Bottom blocks */
div.nqcontainer_2blocks  {
	float:left;
	width:48%;
}
div.nqcontainer_2blocks.left {
	margin-right:2%;
}
div.nqcontainer_2blocks.right {
	margin-left:2%;
}

/** Shared */
div.nqcontainer_2blocks h3 {
	margin:0px;
	padding:0px;
}

div.nqcontainer-hr {
	height:1px;
	margin:15px 0px;
	border-bottom:1px dotted black;
}