/** Bottom blocks */
div.nqcontainer_1large_3cols-block-bottom  {
	float:left;
	width:31%;
}
div.nqcontainer_1large_3cols-block-bottom.left {
	margin-right:2%;
	width:32%;
}
div.nqcontainer_1large_3cols-block-bottom.center {
	margin-right:1%;
	margin-left:1%;
}
div.nqcontainer_1large_3cols-block-bottom.right {
	margin-left:2%;
}

/** Shared */
div.nqcontainer_1large_3cols h3 {
	margin:0px;
	padding:0px;
}

div.nqcontainer-hr {
	height:1px;
	margin:15px 0px;
	border-bottom:1px dotted black;
}