/** Main cols */
div.nqcontainer-2-3-cols-main.left {
	float:left;
	width:70%;
}
div.nqcontainer-2-3-cols-main.right {
	float:left;
	width:28%;
	margin-left:2%;
}

/** Top col left */
div.nqcontainer-2-3-cols-top {
	
}

/** Bottom cols left */
div.nqcontainer-2-3-cols-bottom {
	float:left;
}
div.nqcontainer-2-3-cols-bottom.left {
	margin-right:2%;
	width:30%;
}
div.nqcontainer-2-3-cols-bottom.right {
	margin-left:2%;
	width:66%;
}

/** Shared */
div.nqcontainer-2-3-cols h3 {
	margin:0px;
	padding:0px;
}

div.nqcontainer-hr {
	height:1px;
	margin:15px 0px;
	border-bottom:1px dotted black;
}