/** Top blocks */
div.nqcontainer-1large-3blocks-list-block-top.left  {
	float:left;
	width:64%;
	margin-right:2%;
}
div.nqcontainer-1large-3blocks-list-block-top.right  {
	float:left;
	width:32%;
	margin-left:2%;
}

/** Bottom blocks */
div.nqcontainer-1large-3blocks-list-block-bottom  {
	float:left;
	width:31%;
}
div.nqcontainer-1large-3blocks-list-block-bottom.left {
	margin-right:2%;
}
div.nqcontainer-1large-3blocks-list-block-bottom.middle {
	margin-right:1%;
	margin-left:1%;
}
div.nqcontainer-1large-3blocks-list-block-bottom.right {
	margin-left:2%;
	width:32%;
}

/** Shared */
div.nqcontainer-1large-3blocks-list h3 {
	margin:0px;
	padding:0px;
}

div.nqcontainer-hr {
	height:1px;
	margin:15px 0px;
	border-bottom:1px dotted black;
}