/** Top col */
nqcontainer_4large_6blocks_list-top {
	
}

/** Bottom cols */
div.nqcontainer_4large_6blocks_list-bottom {
	float:left;
}
div.nqcontainer_4large_6blocks_list-bottom.left {
	margin-right:2%;
	width:30%;
}
div.nqcontainer_4large_6blocks_list-bottom.right {
	margin-left:2%;
	width:66%;
}

/** Shared */
div.nqcontainer_4large_6blocks_list h3 {
	margin:0px;
	padding:0px;
}

div.nqcontainer-hr {
	height:1px;
	margin:15px 0px;
	border-bottom:1px dotted black;
}