div.nqcontainer_1large_integrated_list {
	background-repeat:no-repeat;
	background-position:center left;
	padding:1px;
}

div.nqcontainer_main_story, div.nqcontainer_1large_integrated_list.list {
	display:block;
	width:40%;
	background:transparent url(bg.png);
	padding:5px;
	margin:10px;
	color:white;
}

div.nqcontainer_1large_integrated_list a {
	color:white;
}
div.nqcontainer_1large_integrated_list.list a {
	background:transparent url(arrow.png) no-repeat center left;
	padding-left:20px;
}

div.nqcontainer_1large_integrated_list h3, div.nqcontainer_1large_integrated_list p {
	margin:0px;
	padding:0px;
}
div.nqcontainer_main_story h3 {
	font-size:30px;
}

div.nqcontainer_1large_integrated_list div.nqcontainer-hr {
	height:1px;
	margin:5px 0px;
}