/** Main cols */
div.nqcontainer_4blocks_list-main.left {
	float:left;
	width:66%;
}
div.nqcontainer_4blocks_list-main.right {
	float:left;
	width:31%;
	margin-left:3%;
}

/** Top cols */
div.nqcontainer_4blocks_list-left-top {
	float:left;
	width:48%;
}
div.nqcontainer_4blocks_list-left-top.left {
	margin-right:2%;
}
div.nqcontainer_4blocks_list-left-top.right {
	margin-left:2%;
}

/** Bottom cols */
div.nqcontainer_4blocks_list-left-bottom {
	
}

/** Shared */
div.nqcontainer_4blocks_list h3 {
	margin:0px;
	padding:0px;
}

div.nqcontainer-hr {
	height:1px;
	margin:15px 0px;
	border-bottom:1px dotted black;
}