/** Middle blocks */
div.nqcontainer-1large-3cols-list-block-middle  {
	float:left;
	width:31%;
}
div.nqcontainer-1large-3cols-list-block-middle.left {
	margin-right:2%;
	width:32%;
}
div.nqcontainer-1large-3cols-list-block-middle.center {
	margin-right:1%;
	margin-left:1%;
}
div.nqcontainer-1large-3cols-list-block-middle.right {
	margin-left:2%;
}

/** bottom blocks */
div.nqcontainer-1large-3cols-list-block-bottom.left  {
	float:left;
	width:32%;
	margin-right:2%;
}
div.nqcontainer-1large-3cols-list-block-bottom.right  {
	float:left;
	width:64%;
	margin-left:2%;
}

/** Shared */
div.nqcontainer-1large-3cols-list h3 {
	margin:0px;
	padding:0px;
}

div.nqcontainer-hr {
	height:1px;
	margin:15px 0px;
	border-bottom:1px dotted black;
}