/** Main cols */
div.nqcontainer_1large_6blocks_list-main {
	float:left;
	width:28%;
	margin-left:2%;
}
div.nqcontainer_1large_6blocks_list-main.left {
	margin-left:0;
}
div.nqcontainer_1large_6blocks_list-main.center {
	width:40%;
}

/** Shared */
div.nqcontainer_1large_6blocks_list h3 {
	margin:0px;
	padding:0px;
}

div.nqcontainer-hr {
	height:1px;
	margin:15px 0px;
	border-bottom:1px dotted black;
}