/** Shared for each block */
div.nqcontainer-3blocks-list-block  {
	float:left;
	width:48%;
}
div.nqcontainer-3blocks-list-block.left {
	margin-right:2%;
}
div.nqcontainer-3blocks-list-block.right {
	margin-left:2%;
}

div.nqcontainer-3blocks-list h3 {
	margin:0px;
	padding:0px;
}

div.nqcontainer-hr {
	height:1px;
	margin:15px 0px;
	border-bottom:1px dotted black;
}